<!DOCTYPE html>
<html ng-app="EngineUnivisit">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/skeleton.css" />
    <link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
</head>
<body>
	<div ng-controller="HotelListCtrl" class="container">
        <h2>Listado de Hoteles Demo</h2>
        <div class="row">
            <div class="four columns"><input type="text" 
               ng-model="filterName" 
               id="filterName" 
               name="filterName" 
               value="" 
               placeholder="filtrado por nombre" class="name-filter-widget"/></div>
            <div class="four columns">
                 <div class="price-range-filter-widget"></div>
            </div>
            <div class="four columns">
                <div class="stars-filter-widget"></div>
            </div>
        </div>
        <pagination-widget class="pagination pagination-sm"></pagination-widget>
        <div class="hotel-item" ng-repeat="Hotel in hotelsCollectionShowed"></div>
        <pagination-widget class="pagination pagination-sm"></pagination-widget>
    </div>
	<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui-1.11.1.min.js" type="text/javascript"></script>
	<script src="js/angular-1.2.23.js" type="text/javascript"></script>
	<script src="js/lodash.min.js" type="text/javascript"></script>
	<script src="js/moment.js" type="text/javascript"></script>
	<script src="js/xml2json.min.js" type="text/javascript"></script>
	<script src="js/engine-core.js" type="text/javascript"></script>
	<script src="js/engine-widgets.js" type="text/javascript"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
	<script src="js/app.js" type="text/javascript"></script>
</body>
</html>