<h3>Customer Information</h3>
<div class="row">
    <div class="six columns">
        <label for="first_name" class="six columns">Nombre(s):</label>
        <div class="six columns">
            <input type="text" id="first_name" name="first_name" class="name-widget first_name" ng-model="customer.first_name"/>
        </div>
        
    </div>
    <div class="six columns">
        <label for="last_name" class="six columns">Apellidos:</label>
        <div class="six columns">
            <input type="text" id="last_name" name="last_name" class="name-widget last_name" ng-model="customer.last_name"/>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="six columns">
        <label for="email" class="six columns">Email:</label>
        <div class="six columns">
             <input type="text" id="email" name="email" class="email-widget email" ng-model="customer.email"/>
        </div>
    </div>
    <div class="three columns">
        <label for="country_phone_code" class="three columns">Codigo Telefonico:</label>
        <div class="three columns">
             <country-phone-code-widget></country-phone-code-widget>
        </div>
    </div>
    <div class="three columns">
        <label for="phone" class="three columns">
            Telefono:<span class="widget-note">(10 digitos)</span>
        </label>
        <div class="three columns">
            <input type="text" id="phone" ng-model="customer.phone" class="phone-widget phone" placeholder="" />
        </div>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <label for="address" class="eight columns">Direcci&oacute;n</label>
        <div class="eight columns">
            <input type="text" id="address" name="address" class="address-widget address" />
        </div>
    </div>
     <div class="two columns">
        <label for="exterior" class="two columns">Ext:</label>
        <div class="two columns">
            <input type="text" id="exterior" name="exterior" class="exterior-widget exterior" />
        </div>
    </div>
     <div class="two columns">
        <label for="cp" class="two columns">C.P:</label>
        <div class="two columns">
            <input type="text" id="cp" name="cp" class="cp-widget cp" />
        </div>
    </div>
     <div class="six columns">
        <label for="city" class="six columns">Ciudad</label>
        <div class="six columns">
            <input type="text" id="city" name="city" class="city-widget address" />
        </div>
    </div>
    <div class="six columns">
        <label for="country" class="six columns">Pais</label>
        <div class="six columns">
            <country-widget></country-widget>
        </div>
    </div>
    
</div>










