<div id="status-buttons" class="text-center">
    <a ui-sref-active="active" ui-sref=".reservationdetail"><span>1</span> Reservation Detail</a>
    <a ui-sref-active="active" ui-sref=".customerprofile"><span>2</span>Customer Information</a>
    <a ui-sref-active="active" ui-sref=".payment" ><span>2</span> Payment Information</a>
</div>
<form id="signup-form" ng-submit="processForm()">
    <!-- our nested state views will be injected here -->
    <div id="form-views" ui-view></div>
</form>