<div id="BookingBox">
		<form ng-submit="send()" novalidate method="GET" action="hotel-list.html">
            <label for="destination">Destino:</label>
			<input type="text" id="destination" name="destination" value="" placeholder="Destination" class="auto-complete-input" ng-model="Destination">
			<label for="checkin">Llegada:</label>
            <input type="text" id="checkin" name="CheckIn" value="" placeholder="" class="date-picker-input" ng-model="CheckIn">
            <label for="checkout">Salida:</label>
			<input type="text" id="checkout" name="CheckOut" value="" placeholder="" class="date-picker-input" ng-model="CheckOut">
			<label for="rooms">Habitaciones:</label>
            <select id="rooms" ng-model="roomOptionSelected" 
			ng-options="element for element in roomsOptions"
			ng-change="roomOptionChange(roomOptionSelected);"></select>
			<div ng-repeat="item in bookingBoxDataStructure">
				<b>{{item.label}}</b>
                <label for="adults">Adultos:</label>
				<select id="adults" ng-options="element for element in adultsOptions" 
				ng-model="item.adultsSelected"></select>
				<label for="children">Ni&ntilde;os:</label>
                <select id="children" ng-options="element for element in childrenOptions" 
				ng-model="item.childrenSelected" 
				ng-change="childrenOptionChange($index,item.childrenSelected)"></select>
			</div>
			<div ng-repeat="item in bookingBoxDataStructure track by $index" >
				<b><span ng-show="item.childrenSelected > 0">{{item.label}}</span></b>
				<div ng-show="item.childrenSelected > 0" 
					ng-repeat="select in item.childrenAgesStructure track by $index">
                    <label for="ages">Edad:</label>
					<select id="ages" ng-options="element for element in agesOptions" 
					ng-model="select.ageSelected"></select>
				</div>
			</div>
			<input type="hidden" name="Rooms" ng-model="Rooms" value="{{Rooms}}">
			<input type="hidden" name="Adults" ng-model="Adults" value="{{Adults}}">
			<input type="hidden" name="Children" ng-model="Children" value="{{Children}}">
			<input type="hidden" name="Ages" ng-model="Ages" value="{{Ages}}">
			<input type="hidden" name="Iata" ng-model="Iata" value="{{Iata}}">
			<input type="hidden" name="RefPoint" ng-model="RefPoint" value="{{RefPoint}}">
			<input type="hidden" name="Currency" value="MXN">
			<input type="submit" name="btnSend" value="Enviar" class="btn btn-primary"/>
		</f
	</div>