<div class="row hotel">
    <div class="four columns">
        <img src="{{Hotel.Image}}" class="thumbs">
    </div>
    <div class="nine columns">
        <div class="six columns">
            <h4>{{Hotel.Name}}</h4>
            <p>{{Hotel.Address}}</p>
            <div class="{{Hotel.Category}}"></div>
        </div>
        <div class="two columns">
            {{Hotel.AltLowRate | number:2}} {{Hotel.AltCurrency}}
            <button>Booking</button>
        </div>
        <div class="six columns">
            {{Hotel.Description | limitTo : 150}}...
        </div>
    </div>
</div>