<div>
    <ul>
        <li ng-repeat="star in starsCategoryCollection">
            <label class="{{star}} checkbox">
				<input type="checkbox" 
				name="selectedStars[]" 
				value="{{star}}"
				ng-checked="hasStar(star)"
				ng-click="onFilterStarSelected(star);">
            </label>
        </li>
    </ul>
</div>